#book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  height: auto;
  border-radius: 8px;
  background-color: var(--grey);
  padding: 5% 0;
  
}

.input {
  width: 60%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: text;
  outline: none;
  background-color: white;
}

.form-title {
  font-size: 1.17em;
  font-weight: bold;
}

.dialog {
  width: 40%;
  height: 80vh;
  padding: 4%;
  margin: auto;
}

#add-book {
  background-color: white;
  width: 40%;
}